<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content-block {
            margin-bottom: 2rem;
        }
        .indented {
            padding-left: 2rem;
            margin-bottom: 1rem;
        }
        .list-item {
            padding-left: 3rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
<div th:insert="blocks/header :: header"></div>

<div class="container mt-5">
    <div class="content-block">
        <h3 class="text-center">О приложении</h3>
        <style>
            .indented {
                text-indent: 40px; /* Размер отступа */
            }
        </style>
        <div class="indented">
            Это приложение написано с целью, чтобы начинающие java девелоперы могли готовиться к собеседованиям. В приложении собрано 768 вопросов, разбитых по темам.
        </div>
        <div class="indented">- предпочитаемую тему можно настроить</div>
        <div  class="indented">- пользователь сам выбирает, на сколько хорошо он владеет вопросом</div>
        <div  class="indented">- помеченные "знаю хорошо" вопросы удаляются из базы пользователя и далее не отображаются</div>
    </div>

    <div class="text-center my-4">
        <a href="/run" class="btn btn-success px-4 py-2">
            Перейти к вопросам
        </a>
    </div>

    <div class="content-block">
        <h3 class="text-center">Автор</h3>
        <div class="text-center">
            Руслан Степанов
        </div>
        <div class="text-center">
            ученик Александра Хмелёва, выпускник академии JavaRush гр. Gorillaz
        </div>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>